* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #CCC;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  overflow: hidden;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  height: 100vh;
  display: flex;
}

h1 {
  opacity: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  top: -1000px;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #096600;
  border-radius: 5px;
}

.player-card {
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  background-image: url("../imgs/black-player-background.png");
  background-position: center;
  background-size: cover;
  height: 19.5em;
  width: 12em;
  border-radius: 7px;
  padding: 2.15em 0;
  opacity: 1 !important;
  transition: filter 0.3s;
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}
.player-card.selected {
  filter: drop-shadow(0px 0px 5px orangered);
}
.player-card.selected .delete-btn,
.player-card.selected .modify-btn {
  display: block;
}
.player-card.already-selected, .player-card.filtered {
  display: none;
}
.player-card .card-header {
  height: 5.6em;
  align-items: center;
  gap: 15px;
  display: flex;
  justify-content: center;
}
.player-card .player-position {
  color: #AAA;
  transform: translateX(10px);
  font-size: 1.15em;
}
.player-card img.player-image {
  display: block;
  margin: auto;
  height: 6em;
}
.player-card .player-rating {
  color: lime;
  display: block;
  transform: translateX(-10px);
  font-size: 1.15em;
}
.player-card .player-name {
  font-size: 1.2em;
  text-align: center;
  padding: 0 5px;
}
.player-card .player-info {
  font-size: 1em;
  color: #AAA;
  display: flex;
  gap: 1.5em;
  padding: 0 1.6em;
  justify-content: space-between;
}
.player-card .player-ligue {
  font-size: 1em;
  text-align: center;
}
.player-card .player-assets {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  align-items: center;
}
.player-card img.player-club {
  height: 1.85em;
}
.player-card img.player-flag {
  width: 1.85em;
  border: 1px solid #555;
}
.player-card .card-options {
  position: absolute;
  top: -1.4em;
  right: -3.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 1.5em;
}
.player-card .delete-option {
  color: #FFF;
  font-size: 1.8em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: red;
  padding-top: 0.1em;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.15));
}
.player-card .switch-option {
  color: #FFF;
  font-size: 1.8em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: #034f00;
  padding-top: 0.1em;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.15));
}
.player-card .switch-option svg {
  width: 0.9em;
  fill: #fceeee;
}
.player-card .delete-btn,
.player-card .modify-btn {
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FFF;
  padding-top: 3px;
  display: none;
}
.player-card .delete-btn {
  left: 0;
}
.player-card .modify-btn {
  right: 0;
}

.players-section {
  width: 30%;
  font-size: 1vw;
  padding: 30px 15px;
}
.players-section h2 {
  color: #096600;
  margin-bottom: 20px;
  text-align: center;
}
.players-section .search-filter-form {
  margin: 20px 0;
  padding: 0 15px;
}
.players-section .search-filter-form label {
  display: block;
  margin-bottom: 7px;
}
.players-section .search-filter-form input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 7px;
  border: 1px solid #888;
  outline: none;
}
.players-section .players {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.95em;
  justify-items: center;
  height: calc(100vh - 160px);
  padding-bottom: 20px;
  padding-top: 5px;
  overflow: auto;
}

.stadium {
  background-image: url("../imgs/stadium_background.webp");
  background-position: center;
  background-size: cover;
  width: 70%;
  height: 100vh;
  position: relative;
}
.stadium .selected-player-container {
  position: absolute;
  font-size: 1vw;
  transition: all 0.5s;
}
.stadium .selected-player {
  color: #FFF;
  height: 19.5em;
  width: 12em;
  border-radius: 7px;
  padding: 2.15em 0;
  font-size: 1em;
  opacity: 0.5;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  transition: opacity 0.3s, filter 0.3s, transform 0.3s;
  background-image: url("../imgs/black-player-background.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stadium .selected-player:not(.blocked-position):hover {
  opacity: 1;
}
.stadium .selected-player.active {
  opacity: 1;
  filter: drop-shadow(0 0 15px yellow);
}
.stadium .selected-player.misplaced {
  filter: drop-shadow(0 0 15px red);
}
.stadium .selected-player.possible-position {
  opacity: 0.8;
  transform: scale(2);
  animation: bounce 2s linear backwards infinite;
  filter: drop-shadow(0px 0px 15px lime);
}
.stadium .selected-player.blocked-position {
  cursor: not-allowed;
}
.stadium .selected-player .role {
  position: absolute;
  bottom: 1.4em;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.2em;
  color: #a0a0a0;
}
.stadium .selected-player .plus {
  font-size: 5em;
  transform: translateY(-10px);
}

.menu {
  position: absolute;
  left: 30px;
  top: 30px;
}

.menu.delayed > button {
  animation-delay: 0.5s !important;
}

.menu button {
  border: 1px solid #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.menu button.menu-icon {
  height: 50px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s;
}

.menu.open button.menu-icon {
  background-color: rgb(255, 255, 255);
}

.menu button.menu-icon svg {
  transition: fill 0.3s;
}

.menu.open button.menu-icon svg {
  fill: #333;
}

.menu button.formation-icon {
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 70px;
  top: 5px;
  transform-origin: -45px 20px;
  transform: rotate(-100deg);
  opacity: 0;
  visibility: hidden;
}

.menu.closed button.formation-icon {
  animation: rotate-menu-option-0-reverse 0.5s ease-in-out backwards;
}

.menu.open button.formation-icon {
  visibility: visible;
  opacity: 1;
  transform: rotate(-20deg);
  animation: rotate-menu-option-0 0.5s 0.2s ease-in-out backwards;
}

.menu button.formation-icon svg {
  transform: rotate(20deg);
}

.menu button.pen-icon {
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 70px;
  top: 5px;
  transform-origin: -45px 20px;
  opacity: 0;
  transform: rotate(-40deg);
  visibility: hidden;
}

.menu.closed button.pen-icon {
  animation: rotate-menu-option-1-reverse 0.5s 0.1s ease-in-out backwards;
}

.menu.open button.pen-icon {
  visibility: visible;
  opacity: 1;
  transform: rotate(40deg);
  animation: rotate-menu-option-1 0.5s 0.1s ease-in-out backwards;
}

.menu button.pen-icon svg {
  transform: rotate(-40deg);
}

.menu button.trush-icon {
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 70px;
  top: 5px;
  transform-origin: -45px 20px;
  transform: rotate(20deg);
  opacity: 0;
  visibility: hidden;
}

.menu.closed button.trush-icon {
  animation: rotate-menu-option-2-reverse 0.5s 0.2s ease-in-out backwards;
}

.menu.open button.trush-icon {
  visibility: visible;
  opacity: 1;
  transform: rotate(100deg);
  animation: rotate-menu-option-2 0.5s ease-in-out backwards;
}

.menu button.trush-icon svg {
  transform: rotate(-100deg);
}

.menu button:not(:first-of-type) {
  transition: background-color 0.3s;
}

.menu button:not(:first-of-type):hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.menu .formation-options {
  position: absolute;
  top: -14px;
  left: 120px;
  width: 100px;
  background-color: #FFF;
  border-radius: 5px;
  height: 30px;
  width: 30px;
  transform-origin: -10px 25px;
  opacity: 0;
  transform: rotate(-143deg) scale(0.3);
  overflow: hidden;
}
.menu .formation-options select {
  padding: 8px;
  border-radius: 5px;
  width: 100%;
}

.menu .formation-options.open {
  animation: openSelect 1s ease backwards;
  width: 100px;
  border-radius: 5px;
  transform: rotate(0) scale(1);
  opacity: 1;
}

.menu .formation-options.closed {
  animation: openSelectReverse 0.5s linear backwards;
  width: 30px;
  height: 30px;
  transform: rotate(-143deg) scale(0.3);
  opacity: 0;
}

.alert {
  position: fixed;
  top: 25px;
  background: #EEE;
  padding: 20px 30px;
  border-radius: 7px;
  left: 50%;
  max-width: 400px;
  width: 100%;
  transform: translateX(-50%);
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  animation: showAlert 0.5s ease-in-out backwards;
}

.alert.hide {
  animation: showAlertReverse 0.5s ease-in-out backwards;
  transform: translateX(-50%) translateY(-150%);
}

.alert h4 {
  margin-bottom: 10px;
}

.modal-container {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.modal {
  width: 100%;
  max-width: 670px;
  border-radius: 10px;
  background-color: #FFF;
}
.modal .modal-header {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #CCC;
}
.modal .modal-header .close-btn {
  font-size: 23px;
  color: red;
  font-weight: bold;
}
.modal .modal-body {
  padding: 30px;
  padding-bottom: 5px;
}
.modal .modal-body h3 {
  color: #096600;
  margin-bottom: 15px;
}
.modal .modal-body label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}
.modal .modal-body .form-group {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}
.modal .modal-body .form-group .form-input {
  flex: 1;
}
.modal .modal-body .form-group .form-input.form-input-sm {
  max-width: 120px;
}
.modal .modal-body input,
.modal .modal-body select {
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #999;
}
.modal .modal-footer {
  padding: 20px 30px;
  border-top: 1px solid #CCC;
}
.modal .modal-footer .add-player,
.modal .modal-footer .modify-player {
  padding: 15px 15px;
  border-radius: 7px;
  background-color: dodgerblue;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 1.15px;
}
.modal .modal-footer .modify-player {
  display: none;
}

.stadium .selected-player-container.GK {
  bottom: 0;
  right: 50%;
  transform: translateX(50%) scale(0.6);
}
.stadium .selected-player-container.LB {
  bottom: 210px;
  right: 54.3em;
  transform: scale(0.55);
}
.stadium .selected-player-container.CB1 {
  bottom: 150px;
  right: 42.4em;
  transform: scale(0.55);
}
.stadium .selected-player-container.CB2 {
  bottom: 150px;
  right: 15.625em;
  transform: scale(0.55);
}
.stadium .selected-player-container.RB {
  bottom: 210px;
  right: 3.75em;
  transform: scale(0.55);
}
.stadium .selected-player-container.LM {
  bottom: 415px;
  right: 48.2em;
  transform: scale(0.5);
}
.stadium .selected-player-container.CDM {
  bottom: 320px;
  right: 29em;
  transform: scale(0.5);
}
.stadium .selected-player-container.CM1 {
  bottom: 360px;
  right: 35em;
  transform: scale(0.5);
}
.stadium .selected-player-container.CM2 {
  bottom: 360px;
  right: 23em;
  transform: scale(0.5);
}
.stadium .selected-player-container.CM3 {
  bottom: 360px;
  right: 45em;
  transform: scale(0.5);
}
.stadium .selected-player-container.CM4 {
  bottom: 360px;
  right: 13em;
  transform: scale(0.5);
}
.stadium .selected-player-container.RM {
  bottom: 415px;
  right: 9.8125em;
  transform: scale(0.5);
}
.stadium .selected-player-container.ST {
  bottom: 515px;
  right: 29em;
  transform: scale(0.4);
}
.stadium .selected-player-container.LW {
  bottom: 481px;
  right: 40em;
  transform: scale(0.4);
}
.stadium .selected-player-container.RW {
  bottom: 481px;
  right: 18em;
  transform: scale(0.4);
}
.stadium .selected-player-container.ST1 {
  bottom: 515px;
  right: 21em;
  transform: scale(0.4);
}
.stadium .selected-player-container.ST2 {
  bottom: 515px;
  right: 37em;
  transform: scale(0.4);
}
.stadium .selected-player-container.CF {
  bottom: 520px;
  right: 29em;
  transform: scale(0.35);
}
.stadium .selected-player-container.CAM {
  bottom: 400px;
  right: 29em;
  transform: scale(0.4);
}
.stadium .selected-player-container.CM5 {
  bottom: 290px;
  right: 35em;
  transform: scale(0.45);
}
.stadium .selected-player-container.CM6 {
  bottom: 290px;
  right: 23em;
  transform: scale(0.45);
}
.stadium .selected-player-container.RW1 {
  bottom: 465px;
  right: 18em;
  transform: scale(0.4);
}
.stadium .selected-player-container.LW1 {
  bottom: 465px;
  right: 40em;
  transform: scale(0.4);
}
.stadium .selected-player-container.CAM1 {
  bottom: 445px;
  right: 29em;
  transform: scale(0.4);
}
.stadium .selected-player-container.CDM1 {
  bottom: 300px;
  right: 29em;
  transform: scale(0.5);
}
.stadium .selected-player-container.CB {
  bottom: 175px;
  right: 29em;
  transform: scale(0.55);
}
.stadium .selected-player-container.CDM2 {
  bottom: 370px;
  right: 29em;
  transform: scale(0.5);
}

@keyframes bounce {
  0% {
    transform: scale(1.2) translateY(0);
  }
  25% {
    transform: scale(1.2) translateY(1em);
  }
  50% {
    transform: scale(1.2) translateY(0);
  }
  75% {
    transform: scale(1.2) translateY(-1em);
  }
  100% {
    transform: scale(1.2) translateY(0);
  }
}
@keyframes rotate-menu-option-0 {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: rotate(-100deg) scale(0);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: rotate(-20deg) scale(1);
  }
}
@keyframes rotate-menu-option-1 {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: rotate(-40deg) scale(0);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: rotate(40deg) scale(1);
  }
}
@keyframes rotate-menu-option-2 {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: rotate(20deg) scale(0);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: rotate(100deg) scale(1);
  }
}
@keyframes rotate-menu-option-0-reverse {
  0% {
    visibility: visible;
    opacity: 1;
    transform: rotate(-20deg) scale(1);
  }
  100% {
    visibility: hidden;
    opacity: 0;
    transform: rotate(-100deg) scale(0);
  }
}
@keyframes rotate-menu-option-1-reverse {
  0% {
    visibility: visible;
    opacity: 1;
    transform: rotate(40deg) scale(1);
  }
  100% {
    visibility: hidden;
    opacity: 0;
    transform: rotate(-40deg) scale(0);
  }
}
@keyframes rotate-menu-option-2-reverse {
  0% {
    visibility: visible;
    opacity: 1;
    transform: rotate(100deg) scale(1);
  }
  100% {
    visibility: hidden;
    opacity: 0;
    transform: rotate(20deg) scale(0);
  }
}
@keyframes openSelect {
  0% {
    transform: rotate(-143deg) scale(0.3);
    opacity: 0;
    width: 30px;
    height: 30px;
  }
  50% {
    transform: rotate(0) scale(1);
    opacity: 1;
    width: 30px;
    height: 30px;
  }
  100% {
    width: 100px;
    border-radius: 5px;
    height: 30px;
  }
}
@keyframes openSelectReverse {
  0% {
    width: 100px;
    border-radius: 5px;
    height: 30px;
    opacity: 1;
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(0) scale(1);
    opacity: 1;
    width: 30px;
    height: 30px;
  }
  100% {
    transform: rotate(-143deg) scale(0.3);
    opacity: 0;
    width: 30px;
    height: 30px;
  }
}
@keyframes showAlert {
  0% {
    transform: translateX(-50%) translateY(-150%);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}
@keyframes showAlertReverse {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  100% {
    transform: translateX(-50%) translateY(-150%);
  }
}

/*# sourceMappingURL=style.css.map */
