* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #CCC;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  height: 100vh;
  display: flex;
}

h1 {
  opacity: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  top: -1000px;
  overflow: hidden;
}

.soccer-field {
  background-image: url("../imgs/stadium_background.webp");
  background-position: center;
  background-size: cover;
  width: 70%;
  height: 100vh;
  position: relative;
}
.soccer-field .selected-player {
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../imgs/black-player-background.png");
  background-position: center;
  background-size: cover;
  font-size: 0.875vw;
  height: 19.5em;
  width: 12em;
  border-radius: 7px;
  padding: 2.15em 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.soccer-field .selected-player span {
  font-size: 80px;
}
.soccer-field .selected-player.GK {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scale(0.6);
}
.soccer-field .selected-player.LB {
  bottom: 210px;
  left: 3.75em;
  transform: scale(0.55);
}
.soccer-field .selected-player.CB1 {
  bottom: 150px;
  left: 15.625em;
  transform: scale(0.55);
}
.soccer-field .selected-player.CB2 {
  bottom: 150px;
  right: 15.625em;
  transform: scale(0.55);
}
.soccer-field .selected-player.RB {
  bottom: 210px;
  right: 3.75em;
  transform: scale(0.55);
}
.soccer-field .selected-player.LM {
  bottom: 415px;
  left: 125px;
  transform: scale(0.5);
}
.soccer-field .selected-player.CM1 {
  bottom: 360px;
  left: 340px;
  transform: scale(0.5);
}
.soccer-field .selected-player.CM2 {
  bottom: 360px;
  right: 340px;
  transform: scale(0.5);
}
.soccer-field .selected-player.RM {
  bottom: 415px;
  right: 125px;
  transform: scale(0.5);
}
.soccer-field .selected-player.ST1 {
  top: -50px;
  right: 305px;
  transform: scale(0.4);
}
.soccer-field .selected-player.ST2 {
  top: -50px;
  left: 305px;
  transform: scale(0.4);
}

.players-section {
  width: 30%;
  font-size: 1vw;
  padding: 30px 15px;
}
.players-section h2 {
  color: #096600;
  margin-bottom: 20px;
  text-align: center;
}
.players-section .players {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.95em;
  justify-items: center;
  height: calc(100vh - 110px);
  overflow: auto;
}
.players-section .players .player-card {
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../imgs/black-player-background.png");
  background-position: center;
  background-size: cover;
  height: 19.5em;
  width: 12em;
  border-radius: 7px;
  padding: 2.15em 0;
}
.players-section .players .card-header {
  height: 5.6em;
  align-items: center;
  gap: 15px;
  display: flex;
  justify-content: center;
}
.players-section .players .player-position {
  color: #AAA;
  transform: translateX(10px);
  font-size: 1.15em;
}
.players-section .players img.player-image {
  display: block;
  margin: auto;
  height: 6em;
}
.players-section .players .player-rating {
  color: lime;
  display: block;
  transform: translateX(-10px);
  font-size: 1.15em;
}
.players-section .players .player-name {
  font-size: 1.2em;
  text-align: center;
}
.players-section .players .player-info {
  color: #AAA;
  display: flex;
  padding: 0 1.6em;
  justify-content: space-between;
}
.players-section .players .player-ligue {
  font-size: 1em;
  text-align: center;
}
.players-section .players .player-assets {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  align-items: center;
}
.players-section .players img.player-club {
  height: 1.85em;
}
.players-section .players img.player-flag {
  width: 1.85em;
  border: 1px solid #555;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #096600;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
