
@use 'variables' as *;
@use 'mixins' as *;

.stadium {
    @include backround-image('../imgs/stadium_background.webp');
    width: 70%;
    height: 100vh;
    position: relative;

    .selected-player-container {
        position: absolute;
        font-size: 1vw;
    }

    .selected-player {
        color: #FFF;
        height: 19.5em;
        width: 12em;
        border-radius: 7px;
        padding: 2.15em 0;
        font-size: 1em;
        
        opacity: 0.5;
        filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .5));
        transition: opacity .3s, filter .3s, transform .3s;

        @include backround-image('../imgs/black-player-background.png');
        @include flex_center_element;

        &:not(.blocked-position):hover {
            opacity: 1;
        }

        &.active {
            opacity: 1;
            filter: drop-shadow(0 0 15px yellow);
        }

        &.possible-position {
            opacity: .8;
            transform: scale(2);
            animation: bounce 2s linear backwards infinite;
            filter: drop-shadow(0px 0px 15px lime);
        }

        &.blocked-position {
            cursor: not-allowed;
        }
        
        .role {
            position: absolute;
            bottom: 1.4em;
            left: 50%;
            transform: translateX(-50%);
            font-size: 2.2em;
            color: #a0a0a0;
        }
        .plus {
            font-size: 5em;
            transform: translateY(-10px);
        }
    }

    .selected-player-container.GK {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) scale(0.6);
    }
    .selected-player-container.LB {
        bottom: 210px;
        left: 3.75em;
        transform: scale(0.55);
    }
    .selected-player-container.CB1 {
        bottom: 150px;
        left: 15.625em;
        transform: scale(0.55);
    }
    .selected-player-container.CB2 {
        bottom: 150px;
        right: 15.625em;
        transform: scale(0.55);
    }
    .selected-player-container.RB {
        bottom: 210px;
        right: 3.75em;
        transform: scale(0.55);
    }
    .selected-player-container.LM {
        bottom: 415px;
        left: 9.8125em;
        transform: scale(0.5);
    }
    .selected-player-container.CM1 {
        bottom: 360px;
        left: 23em;
        transform: scale(0.5);
    }
    .selected-player-container.CM2 {
        bottom: 360px;
        right: 23em;
        transform: scale(0.5);
    }
    .selected-player-container.RM {
        bottom: 415px;
        right: 9.8125em;
        transform: scale(0.5);
    }
    .selected-player-container.ST1 {
        bottom: 515px;
        right: 21em;
        transform: scale(0.4);
    }
    .selected-player-container.ST2 {
        bottom: 515px;
        left: 21em;
        transform: scale(0.4);
    }
}

.menu {
    position: absolute;
    left: 30px;
    top: 30px;
}

.menu button {
    border: 1px solid #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.menu button.menu-icon {
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, .2);
    transition: background-color .3s;
}

.menu.open button.menu-icon {
    background-color: rgba(255, 255, 255, 1);
}

.menu button.menu-icon svg {
    transition: fill .3s;
}

.menu.open button.menu-icon svg {
    fill: #333;
}

.menu button.random-icon {
    height: 40px;
    width: 40px;
    background-color: #FFF;
    position: absolute;
    left: 70px;
    top: 5px;
    transform-origin: -45px 20px;
    transform: rotate(-100deg);
    opacity: 0;
    visibility: hidden;
}

.menu.closed button.random-icon {
    animation: rotate-menu-option-0-reverse .5s ease-in-out backwards;
}

.menu.open button.random-icon {
    visibility: visible;
    opacity: 1;
    transform: rotate(-20deg);
    animation: rotate-menu-option-0 .5s .2s ease-in-out backwards;
}

.menu button.random-icon svg {
    transform: rotate(20deg);
}

.menu button.pen-icon {
    height: 40px;
    width: 40px;
    background-color: #FFF;
    position: absolute;
    left: 70px;
    top: 5px;
    transform-origin: -45px 20px;
    opacity: 0;
    transform: rotate(-40deg);
    visibility: hidden;
}

.menu.closed button.pen-icon {
    animation: rotate-menu-option-1-reverse .5s .1s ease-in-out backwards;
}

.menu.open button.pen-icon {
    visibility: visible;
    opacity: 1;
    transform: rotate(40deg);
    animation: rotate-menu-option-1 .5s .1s ease-in-out backwards;
}

.menu button.pen-icon svg {
    transform: rotate(-40deg);
}

.menu button.formation-icon {
    height: 40px;
    width: 40px;
    background-color: #FFF;
    position: absolute;
    left: 70px;
    top: 5px;
    transform-origin: -45px 20px;
    transform: rotate(20deg);
    opacity: 0;
    visibility: hidden;
}

.menu.closed button.formation-icon {
    animation: rotate-menu-option-2-reverse .5s .2s ease-in-out backwards;
}

.menu.open button.formation-icon {
    visibility: visible;
    opacity: 1;
    transform: rotate(100deg);
    animation: rotate-menu-option-2 .5s ease-in-out backwards;
}

.menu button.formation-icon svg {
    transform: rotate(-100deg);
}